.headerLogin{
    background-color: #212529;
    color: white;
    text-align: center;
    width: 31.5%;
    border-radius: 15%;
    padding: 5%;
    position: absolute;
    top: 7%;
    left: 34.28%;
}